.about-us-container{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0,0,0,.5);
    margin-top: 5vh;
    padding-top: 5vh;
    }
    
    .col-sm-3{
    padding-left: 5vh;
    }
    
    .col-sm-9{
    padding-right: 5vh;
    }
    
    .about-us-heading{
    color: #FF003D !important;
    font-weight: bold;
    }
    
    .team-heading{
        color: #FF003D !important;
        font-weight: bold;
    }