.card-mylist-title{
    color: #FF003D !important;
    font-weight: bold;
    }
    
    .card-mylist-day{
    font-weight: bold;
    color: white !important;
    }
    
    .card-mylist-starttime{
    font-weight: bold;
    color: white !important;
    }
    
    
    .card-mylist-price{
        color: #FF003D !important;
        font-weight: bold;
    }