.App {
  
  display: grid;
  font-variant: rgb(241, 237, 237);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url(/public/BackgroundImage\ Large.png);
  background-size: cover;
  font-weight:bold;
}

.logo{
  min-width: 100px;
  max-width: 150px;
}

.nav-link{

  min-width: 200px;
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-variant:normal

 

}

.AboutUsPic{
  min-width: 100px;
  max-width: 350px;

}
.Image{
  min-width: 100px;
  max-width: 350px;


}
.Detail{
  font-variant: red;
  
}
.Link{
  color: rgb(236, 32, 32);
}
.Kizomba1{
  min-width: 10px;
  max-width: 250px;

}